
#center {
  padding: 10em 10em 10em 10em; 
}


* {
	margin:0; padding:0;
  font-family: 'Open Sans';
  font-size:100%;
}


body{
	background-color: #212121;

}

header{
	font-size:40px;
	text-align: center;
	color: white;
	font-family: calibri, helvetica, sans-serif;
}

/* Gambar besar */

#bgup1{
	width:1353px;
	height:500px;
}

#bgup2{
  width:1353px;
  height:500px;
}

#bgup3{
  width:1353px;
  height:500px;
}

#bgup4{
  width:1353px;
  height:500px;
}


/* Navigasi buatan */

.menu-wrap {
	background-color:#8D6E63; 
	height:50px; 
	line-height:50px; 
	position:relative;
	width:1353px;
	margin:auto;
	margin-left:0px;
     }
 
.menu-wrap ul {
	list-style:none;
     }
 
.menu-wrap ul li a {
 	float:left; 
	width:150px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
     }
 
.menu-wrap ul li a:hover {
	background-color:#666; 
	display:block;
     }
 
.menu-wrap ul li:hover ul {
	display:block;
     }
 
.menu-wrap ul ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background-color:#fff;
	left:300px; 
	top:50px; 
	width:190px;
     }
 
.menu-wrap ul ul li a {
	color: black;
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:160px;
     }
 
.menu-wrap ul ul li a:hover {
	color:#fff;
      }

/*wrapper about*/


.menu-wrap1 {
  background-color:#8D6E63; 
  height:50px; 
  line-height:50px; 
  position:relative;
  width:1365px;
  margin:auto;
  margin-left:0px;
}
 
.menu-wrap1 ul {
  list-style:none;
     }
 
.menu-wrap1 ul li a {
  float:left; 
  width:150px; 
  display:block; 
  text-align:center; 
  color:#FFF; 
  text-decoration:none; 
  text-transform:uppercase;
     }
 
.menu-wrap1 ul li a:hover {
  background-color:#666; 
  display:block;
     }
 
.menu-wrap1 ul li:hover ul {
  display:block;
     }
 
.menu-wrap1 ul ul {
  display:none; 
  list-style:none; 
  position:absolute; 
  background-color:#fff;
  left:300px; 
  top:50px; 
  width:190px;
     }
 
.menu-wrap1 ul ul li a {
  color: black;
  float:none; 
  display:block; 
  padding-left:30px; 
  text-align:left; 
  width:160px;
     }
 
.menu-wrap1 ul ul li a:hover {
  color:#fff;
      }

/* Intro */

#intro {
  	padding: 10em 10em 10em 10em;
  	margin-top: 1em;
  	background-color: #E0E0E0;
  	border-radius: 2px;
  	text-align: center;
}


#introvokal {
    padding: 10em 10em 10em 10em;
    margin-top: 1em;
    background-color: #E0E0E0;
    border-radius: 2px;
    text-align: center;
}

#vokal {
  height: 600px;
  width: 900px;
}

#depan {
  height: 500px;
}


#introttg {
    background-image: url(asset/img/gambarbesar.jpg);
    padding: 10em 10em 10em 10em;
    margin-top: 1em;
    background-color: #E0E0E0;
    border-radius: 2px;
    text-align: center;
}

/* button */

#btn{
    position:relative;
    margin-right: 5px;
    background-color: #53bd84; /* Green */
    color: #fff;
    border: none ;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input.MyButton {
    position:relative;
    margin-right: 5px;
    background-color: #53bd84; /* Green */
    color: #fff;
    border: none ;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
}

input.MyButton:hover {
  color: #ffff00;
  background: #000;
  border: 1px solid #fff;
}

/*form search*/

form {
      width:500px;
    }
.search {
      padding:8px 15px;
      background:rgba(50, 50, 50, 0.2);
      border:0px solid #fff;
    }
.button {
      position:relative;
      padding:6px 15px;
      left:-8px;
      border:2px solid #53bd84;
      background-color:#53bd84;
      color:black;
    }
.button:hover  {
      background-color:#fafafa;
      color:#fff;
    }
          
    ::-webkit-input-placeholder { /* For WebKit browsers */
      color:    #fff;
            font-family:Helvetica Neue;
            font-weight:bold;
    }
    :-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
      color:    #fff;
            font-family:Helvetica Neue;
            font-weight:bold;
    }
    ::-moz-placeholder { /* For Mozilla Firefox 19+ */
      color:    #fff;
            font-family:Helvetica Neue;
            font-weight:bold;
    }
    :-ms-input-placeholder { /* For Internet Explorer 10+ */
      color:    #fff;
            font-family:Helvetica Neue;
            font-weight:bold;
    }  

/* table */


.table1 {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #8D6E63;
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table1 tr:hover {
    background-color: #8D6E63;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Formdaftar */
